node_modules

# Craft CMS
# ------------------------------------------------------------------------------
craft/*
!craft/config
craft/config/*
!craft/config/db.php
!craft/config/general.php
!craft/config/redactor
!craft/templates

# Build files
# ------------------------------------------------------------------------------
public/assets/*
public/files/*

# OS Or Editor files
# ------------------------------------------------------------------------------
.DS_Store
.editorconfig
