{% extends "_layouts/base" %}

{% block body %}
  <header role="banner">
  </header>

  <main role="main">
    {% block main %}
      <!-- Add your site or application content here -->
      <p>Your main block is yet to be defined.</p>
    {% endblock %}
  </main>


  <footer role="contentinfo">
  </footer>
{% endblock %}
