/** @define Button */

/**
 * The button classes are best applied to links and buttons.
 * These components can be used in forms, as calls to action, or as part of the
 * general UI of the site/app.
 */

/**
 * 1. Inherit text color from ancestor.
 * 2. Inherit font styles from ancestor.
 * 3. Prevent button text from being selectable.
 */

.c-Button {
  background: transparent;
  border-color: currentColor;
  border-style: solid;
  border-width: 1px;
  color: inherit; /* 1 */
  display: inline-block;
  font: inherit; /* 2 */
  margin: 0;
  padding: .579em 1em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none; /* 3 */
}

/**
 * Remove excess padding and border in Firefox 4+
 */

.c-Button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Work around a Firefox/IE bug where the transparent `button` background
 * results in a loss of the default `button` focus styles.
 */

.c-Button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

/**
 * UI states
 */

.c-Button:hover,
.c-Button:focus,
.c-Button:active {
  text-decoration: none;
}

.c-Button:disabled,
.c-Button.is-disabled {
  cursor: default;
  opacity: 0.6;
}